@import 'tailwindcss';

@plugin 'daisyui' {
	themes: 'mytheme';
}

@plugin 'flowbite/plugin';

@plugin "daisyui/theme" {
	name: 'mytheme';
	default: true;
	/* set as default */
	prefersdark: false;
	/* set as default dark mode (prefers-color-scheme:dark) */
	color-scheme: dark;

	/* colors*/
	--color-base-100: #535657;
	/* base color: davy's gray */
	--color-primary: #b0413e;
	/* primary color: redwood */
	--color-secondary: #f4faff;
	/* secondary color: alice blue */
	--color-accent: #DEE7E7;
	--color-placeholder: #A9A9A9;
	/* accent color: platinum */
	--color-error: #b0413e;
	/* error color: redwood */
	--color-success: #535657;
	/* success color: success */

	/* border radius */
	--radius-selector: 0.25rem;
	--radius-field: 2rem;
	--radius-box: 1rem;

	/* base sizes */
	--size-selector: 0.25rem;
	--size-field: 0.25rem;

	/* border size */
	--border: 1px;

	/* effects */
	--depth: 1;
	--noise: 0;
}

.left-panel {
	@apply w-1/4 p-4;
}

.main-container {
	@apply flex min-h-screen;
}

.left-panel {
	@apply w-1/6 p-4 pt-10;
}

.main-content {
	@apply flex flex-1 justify-center;
}

.panel-item {
	@apply mb-8;
}

.top-panel {
	@apply flex flex-1 flex-col;
}

.search-bar {
	@apply w-full rounded-2xl p-2 border-primary bg-primary text-secondary pl-5 pr-5;
}
.search-bar::placeholder {
	@apply text-base-100;
}

input::selection {
	@apply bg-primary text-secondary;
}

.label-text {
	@apply text-lg font-bold ml-2;
}

.label-text::selection {
	background: var(--color-primary);
	color: var(--color-secondary);
}

.text-user-info {
	@apply text-lg text-right mr-2 text-base-100;
}

.text-user-details {
	@apply text-lg text-center text-base-100;
}

.text-community-category {
	@apply text-center text-base-100;
}

.panel-item button svg {
	stroke: var(--color-base-100);
}

.panel-item button:hover svg {
	stroke: var(--color-primary);
}

.custom-input {
	@apply focus:border-primary bg-secondary text-base-100 w-full rounded-md focus:border-2 focus:-outline-offset-2
}

.placeholder-selected option[value=""] {
	color: #697282;
	outline: var(--color-primary);
}


.text-area-input {
	@apply focus:border-primary bg-secondary text-base-100 w-full rounded-md focus:border-2 focus:-outline-offset-2;
	white-space: pre-wrap !important;
	height: auto;
	word-break: break-word !important;
	overflow-wrap: break-word !important;
	display: block;
}

.text-area-input::selection {
	background: var(--color-primary);
	color: var(--color-secondary);
}

.placeholder-selected {
	color: #697282;
	outline: var(--color-primary);
}

select:not(.placeholder-selected) {
	color: var(--color-base-100);
	outline: var(--color-primary);
}

h1::selection {
	background: var(--color-primary);
	color: var(--color-secondary);
}

h2::selection {
	background: var(--color-primary);
	color: var(--color-secondary);
}

h3::selection {
	background: var(--color-primary);
	color: var(--color-secondary);
}

.community-description {
	@apply text-center;
		/* Centers the text horizontally */
		white-space: normal;
		/* Allows text to wrap */
		word-break: break-word;
		/* Breaks long words if necessary */
		overflow-wrap: break-word;
		/* Ensures proper wrapping for long words */
}
p{
	@apply text-base-100;
}
p::selection {
	background: var(--color-primary);
	color: var(--color-secondary);
}

/* Tooltip container */
.tooltip-container {
	position: relative;
	display: inline-block;
}

/* Tooltip text */
.tooltip {
	visibility: hidden;
	background-color: var(--color-primary);
	/* Customize the background color */
	color: var(--color-secondary);
	/* Customize the text color */
	text-align: center;
	padding: 5px 10px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	top: 125%;
	/* Position below the button */
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: opacity 0.3s;
	font-size: 0.875rem;
	/* Adjust font size */
}

/* Show the tooltip on hover */
.tooltip-container:hover .tooltip {
	visibility: visible;
	opacity: 1;
}


@source "../node_modules/flowbite-svelte/dist";